doctype
html
  head
    title Test Hue
    script(src="js/jquery-1.11.1.min.js")
    script(src="js/hue.js")
    script(src="js/hueph_volume.js")
  body
    h1
      Hueph
    select(name="music")
      option(value="1") ラスカ/ゲスの極み乙女
      option(value="2") リライト/ASIAN-KUNGFU-GENERATION
      option(value="3") Locked Out Of Heaven/Bruno Mars
    img.loader(src="/images/loading-24.gif")
