doctype
html
  head
    title Hueph
    link(type="text/css",rel="stylesheet",href="http://code.jquery.com/ui/1.10.3/themes/cupertino/jquery-ui.min.css")
    script(src="http://code.jquery.com/jquery-1.10.2.min.js")
    script(src="http://code.jquery.com/ui/1.10.3/jquery-ui.min.js")
    script(src="js/jquery-1.11.1.min.js")
    script(src="js/hue.js")
    script(src="js/script.js")
  body
    h1
      Hue Party Hard
    div#select_lights
    div#light_param
